$size : 30px;
$blue_light : #74b9ff;
$blue : $primary_color;
$blue_dark : #3742fa;
$duration : 1.5s;

@mixin psuedo {
  display: block;
  content: "";
}

.display-loader{
  position: fixed;
  top: -500px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, .9);
  z-index: 1200;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);

  @include transition(.4s);

  &.show{
    transform: scale(1);
    top: 0;
  }
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: inline-flex;
  flex-wrap: wrap;
  width: $size * 3;
  height: $size * 3;
  transform-style: preserve-3d;
  transform: rotateX(45deg) rotate(45deg);
}


.box {
  position: absolute;
  top: 0;
  left: 0;
  width: $size;
  height: $size;
  background: $blue_light;
  box-shadow: $size*3.75 $size*3.75 20px #000;
  animation: move $duration ease-in-out infinite both;
  transform-style: preserve-3d;

  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      animation-delay: $i/2 * -$duration;
    }
  }

  &:before, &:after {
    @include psuedo;
    position: absolute;
    width: $size;
    height: $size;
  }
  &:before {
    top: 100%;
    left: 0;
    background: $blue;
    transform-origin: center top;
    transform: rotateX(-90deg);
  }
  &:after {
    top: 0;
    left: 100%;
    background: $blue_dark;
    transform-origin: center left;
    transform: rotateY(90deg);
  }
}

@keyframes move {
  0%, 100% { transform: none; }
  12.5% { transform: translate($size, 0); }
  25% { transform: translate($size*2, 0); }
  37.5% { transform: translate($size*2, $size); }
  50% { transform: translate($size*2, $size*2); }
  62.5% { transform: translate($size, $size*2); }
  75% { transform: translate(0, $size*2); }
  87.5% { transform: translate(0, $size); }
}
